node_modules
Archive.zip

# ======== OS X ========
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# ======== JetBrains ========
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
